<footer class="footer">
    <nav class="first-nav">
        <ul class="first-nav-ul">
            <li><a class=link href="https://adalab.es/"> Zapatillas </a></li>
            <li><a class=link href="https://adalab.es/"> Ropa </a></li>
            <li><a class=link href="https://adalab.es/"> Niño/a </a></li>
            <li><a class=link href="https://adalab.es/"> Destacados </a></li>
            <li><a class=link href="https://adalab.es/"> Tips </a></li>
        </ul>
    </nav>

    <nav class="second-nav">
        <ul class="second-nav-ul">
            <li><a class=link href="https://twitter.com/adalab_digital?lang=en"> Twitter </a></li>
            <li><a class=link href="https://www.instagram.com/adalab_digital/?hl=en"> Instagram </a></li>
            <li><a class=link href="https://www.youtube.com/@Adalab"> Youtube </a></li>
        </ul>
    </nav>
    
    <p class="footer-copy"><span>&copy2023</span></p>
    <p class="footer-claim">we </span>♥</span> run</p>
    
</footer>