<section class="hero">
    <!--<figure class="hero-figure">
        <img class="hero-img" src="./assets/images/cover.jpeg" alt="hero-image" title=""/>
    </figure>-->
    <article class="hero-article">
        <h1 class="hero-title">Hasta un 50% de descuento</h1>
        <p class="hero-p">Ya están aquí las ofertas de fin de temporada</p>
        <div class="hero-button"><img class="button-arrow" src="./assets/images/ico-scroll-down.svg" alt="scroll down arro" title="scroll down arrow"></div>
    </article>
    
</section>