<main class="main">

<section class="second-section">
    <span class="second-section-span">Los sentimientos nos inspiran</span>
    <article class="second-section-article">
        <h2 class="article-title">Conecta Contigo</h2>
        <p class="article-p">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
    </article>
    <button class="second-section-button"><a class="button-link" href="https://adalab.es/"> Comprar </a></button>
</section>

<section class="third-section" id="third-section">
    <h3 class="third-section-title">Año nuevo, movimientos nuevos</h3>
        <article class="first-article">
            <h4 class="first-article-title"> Entrenamientos</h4>
            <p class="first-article-p"> Sesiones de running y entrenamientos</p>
        </article>

        <article class="second-article">
            <h4 class="second-article-title"> Cualquier nivel</h4>
            <p class="second-article-p"> Entrenamientos para cada nivel </p>
        </article>

        <article class="third-article">
            <h4 class="third-article-title"> Exclusividad</h4>
            <p class="third-article-p"> Productos para miembros premium</p>
        </article>

        <div class="third-section-div">
<button class="third-section-button"><a class="button-link" href="https://adalab.es/"> Empezar ahora</a></button></div>
</section>

</main>