.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 465px;
    background-color: #4a4a4a;
                   
        .first-nav,
        .second-nav {
            margin-bottom: 30px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            line-height: 3rem;
            color: white;
                .link {
                    text-decoration: none;
                    color: white;
                }
        }
        .copy-claim {
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            line-height: 3rem;
            color: white;
                .heart {
                    color: red;
                }
        }       
}

@media all and (min-width: 768px) {
.footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 56px 70px 34px 130px;

        .first-nav {
            order: 2;
            text-align: left;
        }

        .second-nav {
            order: 3
            /*text-align: left;*/
        }

        .copy-claim {
            order: 1;
            text-align: left;
        }
}
}

@media all and (min-width: 1280px) {
.footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 370px;
            .second-nav {
                text-align: left;
                }
    }
}