.hero {
    width: 100vw;
    height: 100vh;
    transform: translateY(-45px);
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .hero-article {
        margin: 314px 0px 157.5px 5px;
        width: 315px; 
        text-align: center;
        color: white;
    }

    .hero-title{
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-size: 3rem;
        line-height: 5rem;
    }

    .hero-img {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }

    @media all and (min-width: 768px){
        .hero-article {
            margin: 409px 29px 152px 51px;
            width: 688px;
                .hero-title {
                font-size: 7.5rem;
                line-height: 10rem;
            }
        }
    }

    @media all and (min-width: 1280px) {
        .hero-article {
            margin: 349px 177px 50px 142px;
            width: 954.8px;
                .hero-title {
                font-size: 10rem;
                line-height: 13.2rem;
            }
        }
    }

}