.second-section {
    margin: -30px /*no es la manera de hacer esto*/ 12px 0 16px; 
        .second-section-span {
            display: inline-block;
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            line-height: 3rem;
            color: #f26002;
        }
        .second-section-article {
            line-height: 3rem;
                .article-title {
                    font-family: 'Roboto Slab', serif;
                    font-weight: 900;
                    font-size: 2.4rem;
                    color: black;
                    margin-bottom: 10px;
                }
                .article-p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
        }

        .second-section-button {
            display: block;
            width: 160px;
            border: solid 3px #f26002;
            background-color: white;
            border-radius: 22.5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 2rem;
            line-height: 4rem;
            text-align: center;
            margin-bottom: 60px;
                .button-link {
                    text-decoration: none;
                    color: #f26002;
                    }
        }
        .second-section-button:hover {
            background: #f25e022b;
        }
}    

@media all and (min-width: 768px) {
    .second-section {
        margin: 0 auto;
        width: 690px;
            .second-section-span {
                font-size: 1.6rem;               
            }
            .second-section-article {
                    .article-title {
                    font-size: 3.2rem;
                    line-height: 4.5rem;
                    font-weight: 900;
                    }
                    .article-p {
                    font-size: 2rem;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    }
            }
            .second-section-button {
                width: 160px;
                font-size: 2rem;
            }
    }
}        

@media all and (min-width: 1280px) {
.second-section {
        margin: 0 auto;
        width: 869px;
    }
}
    
